@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-white;
}

.no-ligature {
  font-variant-ligatures: none;
}

@font-face {
  font-family: "JBM Variable";
  src: url("/fonts/JetBrainsMono.ttf") format("truetype");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

$colors: ("coral", "forestgreen", "dodgerblue"); // Add your colors here

@for $i from 1 through 50 {
  $class: "anim-" + #{$i};
  $delay: $i * 0.08s;

  @each $color in $colors {
    .#{$class}-#{$color} {
      font-family: "JBM Variable";
      font-weight: 100;
      --color: #{$color};
      animation: koga-font 2s ease-in-out #{$delay} infinite alternate;
    }
  }
}

@keyframes koga-font {
  55% {
    font-weight: 100;
  }
  70% {
    @apply text-dark;
  }
  100% {
    font-weight: 800;
    color: var(--color);
  }
}

.hidden-image {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-text:hover + .hidden-image {
  opacity: 1;
}
